<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html
  data-editor-version="2"
  class="sg-campaigns"
  xmlns="http://www.w3.org/1999/xhtml"
>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Muli&display=swap"
      rel="stylesheet"
    />
    <style type="text/css">
      body,
      p,
      div {
        font-family: inherit;
        font-size: 14px;
      }

      body {
        color: #000000;
        font-family: 'Muli', sans-serif;
      }

      body a {
        color: #1188e6;
        text-decoration: none;
      }

      p {
        margin: 0;
        padding: 0;
      }

      table.wrapper {
        width: 100% !important;
        table-layout: fixed;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
      }

      img.max-width {
        max-width: 100% !important;
      }

      .column.of-2 {
        width: 50%;
      }

      .column.of-3 {
        width: 33.333%;
      }

      .column.of-4 {
        width: 25%;
      }

      @media screen and (max-width: 480px) {
        .preheader .rightColumnContent,
        .footer .rightColumnContent {
          text-align: left !important;
        }

        .preheader .rightColumnContent div,
        .preheader .rightColumnContent span,
        .footer .rightColumnContent div,
        .footer .rightColumnContent span {
          text-align: left !important;
        }

        .preheader .rightColumnContent,
        .preheader .leftColumnContent {
          font-size: 80% !important;
          padding: 5px 0;
        }

        table.wrapper-mobile {
          width: 100% !important;
          table-layout: fixed;
        }

        img.max-width {
          height: auto !important;
          max-width: 100% !important;
        }

        a.bulletproof-button {
          display: block !important;
          width: auto !important;
          font-size: 80%;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }

        .columns {
          width: 100% !important;
        }

        .column {
          display: block !important;
          width: 100% !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
      }
    </style>
  </head>

  <body>
    <center
      class="wrapper"
      data-link-color="#1188E6"
      data-body-style="font-size:14px; font-family:inherit; color:#000000; background-color:#FFFFFF;"
    >
      <div class="webkit">
        <table
          cellpadding="0"
          cellspacing="0"
          border="0"
          width="100%"
          class="wrapper"
          bgcolor="#FFFFFF"
        >
          <tbody>
            <tr>
              <td valign="top" bgcolor="#FFFFFF" width="100%">
                <table
                  width="100%"
                  role="content-container"
                  class="outer"
                  align="center"
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                >
                  <tbody>
                    <tr>
                      <td width="100%">
                        <table
                          width="100%"
                          cellpadding="0"
                          cellspacing="0"
                          border="0"
                        >
                          <tbody>
                            <tr>
                              <td>
                                <table
                                  width="100%"
                                  cellpadding="0"
                                  cellspacing="0"
                                  border="0"
                                  style="width: 100%; max-width: 600px"
                                  align="center"
                                >
                                  <tbody>
                                    <tr>
                                      <td
                                        role="modules-container"
                                        style="
                                          padding: 0px 0px 0px 0px;
                                          color: #000000;
                                          text-align: left;
                                        "
                                        bgcolor="#FFFFFF"
                                        width="100%"
                                        align="left"
                                      >
                                        <table
                                          class="module preheader preheader-hide"
                                          role="module"
                                          data-type="preheader"
                                          border="0"
                                          cellpadding="0"
                                          cellspacing="0"
                                          width="100%"
                                          style="
                                            display: none !important;
                                            visibility: hidden;
                                            opacity: 0;
                                            color: transparent;
                                            height: 0;
                                            width: 0;
                                          "
                                        >
                                          <tbody>
                                            <tr>
                                              <td role="module-content">
                                                <p></p>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <table
                                          border="0"
                                          cellpadding="0"
                                          cellspacing="0"
                                          align="center"
                                          width="100%"
                                          role="module"
                                          data-type="columns"
                                          style="padding: 30px 20px 30px 20px"
                                          bgcolor="#f6f6f6"
                                        >
                                          <tbody>
                                            <tr role="module-content">
                                              <td height="100%" valign="top">
                                                <table
                                                  class="column"
                                                  width="540"
                                                  style="
                                                    width: 540px;
                                                    border-spacing: 0;
                                                    border-collapse: collapse;
                                                    margin: 0px 10px 0px 10px;
                                                  "
                                                  cellpadding="0"
                                                  cellspacing="0"
                                                  align="left"
                                                  border="0"
                                                  bgcolor=""
                                                >
                                                  <tbody>
                                                    <tr>
                                                      <td
                                                        style="
                                                          padding: 0px;
                                                          margin: 0px;
                                                          border-spacing: 0;
                                                        "
                                                      >
                                                        <table
                                                          class="wrapper"
                                                          role="module"
                                                          data-type="image"
                                                          border="0"
                                                          cellpadding="0"
                                                          cellspacing="0"
                                                          width="100%"
                                                          style="
                                                            table-layout: fixed;
                                                          "
                                                          data-muid="72aac1ba-9036-4a77-b9d5-9a60d9b05cba"
                                                        >
                                                          <tbody>
                                                            <tr>
                                                              <td
                                                                style="
                                                                  font-size: 6px;
                                                                  line-height: 10px;
                                                                  padding: 0px
                                                                    0px 0px 0px;
                                                                "
                                                                valign="top"
                                                                align="center"
                                                              >
                                                              <h1 style="font-size: 43px; color: #2f2f3b">
                                                                Food<span style="color: #7366ff"> Genie</span>
                                                              </h1>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                        <table
                                                          class="module"
                                                          role="module"
                                                          data-type="spacer"
                                                          border="0"
                                                          cellpadding="0"
                                                          cellspacing="0"
                                                          width="100%"
                                                          style="
                                                            table-layout: fixed;
                                                          "
                                                          data-muid="27716fe9-ee64-4a64-94f9-a4f28bc172a0"
                                                        >
                                                          <tbody>
                                                            <tr>
                                                              <td
                                                                style="
                                                                  padding: 0px
                                                                    0px 30px 0px;
                                                                "
                                                                role="module-content"
                                                                bgcolor=""
                                                              ></td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                        <table
                                                          class="module"
                                                          role="module"
                                                          data-type="text"
                                                          border="0"
                                                          cellpadding="0"
                                                          cellspacing="0"
                                                          width="100%"
                                                          style="
                                                            table-layout: fixed;
                                                          "
                                                          data-muid="948e3f3f-5214-4721-a90e-625a47b1c957"
                                                          data-mc-module-version="2019-10-22"
                                                        >
                                                          <tbody>
                                                            <tr>
                                                              <td
                                                                style="
                                                                  padding: 50px
                                                                    30px 18px
                                                                    30px;
                                                                  line-height: 36px;
                                                                  text-align: inherit;
                                                                  background-color: #ffffff;
                                                                "
                                                                height="100%"
                                                                valign="top"
                                                                bgcolor="#ffffff"
                                                                role="module-content"
                                                              >
                                                                <div>
                                                                  <div
                                                                    style="
                                                                      font-family: inherit;
                                                                      text-align: center;
                                                                    "
                                                                  >
                                                                    <span
                                                                      style="
                                                                        font-size: 36px;
                                                                      "
                                                                    >
                                                                      Greetings,
                                                                      <%=
                                                                      firstName
                                                                      %>
                                                                      !&nbsp;</span
                                                                    >
                                                                  </div>
                                                                  <div></div>
                                                                </div>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                        <table
                                                          class="module"
                                                          role="module"
                                                          data-type="text"
                                                          border="0"
                                                          cellpadding="0"
                                                          cellspacing="0"
                                                          width="100%"
                                                          style="
                                                            table-layout: fixed;
                                                          "
                                                          data-muid="a10dcb57-ad22-4f4d-b765-1d427dfddb4e"
                                                          data-mc-module-version="2019-10-22"
                                                        >
                                                          <tbody>
                                                            <tr>
                                                              <td
                                                                style="
                                                                  padding: 18px
                                                                    30px 18px
                                                                    30px;
                                                                  line-height: 22px;
                                                                  text-align: inherit;
                                                                  background-color: #ffffff;
                                                                "
                                                                height="100%"
                                                                valign="top"
                                                                bgcolor="#ffffff"
                                                                role="module-content"
                                                              >
                                                                <div>
                                                                  <div
                                                                    style="
                                                                      font-family: inherit;
                                                                      text-align: center;
                                                                    "
                                                                  >
                                                                    <span
                                                                      style="
                                                                        font-size: 16px;
                                                                      "
                                                                    >
                                                                      We
                                                                      received a
                                                                      request to
                                                                      reset your
                                                                      password.
                                                                      Click the
                                                                      following
                                                                      button to
                                                                      change
                                                                      your
                                                                      password.
                                                                    </span>
                                                                  </div>
                                                                  <div></div>
                                                                </div>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                        <table
                                                          class="module"
                                                          role="module"
                                                          data-type="spacer"
                                                          border="0"
                                                          cellpadding="0"
                                                          cellspacing="0"
                                                          width="100%"
                                                          style="
                                                            table-layout: fixed;
                                                          "
                                                          data-muid="7770fdab-634a-4f62-a277-1c66b2646d8d"
                                                        >
                                                          <tbody>
                                                            <tr>
                                                              <td
                                                                style="
                                                                  padding: 0px
                                                                    0px 20px 0px;
                                                                "
                                                                role="module-content"
                                                                bgcolor="#ffffff"
                                                              ></td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                        <table
                                                          border="0"
                                                          cellpadding="0"
                                                          cellspacing="0"
                                                          class="module"
                                                          data-role="module-button"
                                                          data-type="button"
                                                          role="module"
                                                          style="
                                                            table-layout: fixed;
                                                          "
                                                          width="100%"
                                                          data-muid="d050540f-4672-4f31-80d9-b395dc08abe1"
                                                        >
                                                          <tbody>
                                                            <tr>
                                                              <td
                                                                align="center"
                                                                bgcolor="#ffffff"
                                                                class="outer-td"
                                                                style="
                                                                  padding: 0px
                                                                    0px 0px 0px;
                                                                "
                                                              >
                                                                <table
                                                                  border="0"
                                                                  cellpadding="0"
                                                                  cellspacing="0"
                                                                  class="wrapper-mobile"
                                                                  style="
                                                                    text-align: center;
                                                                  "
                                                                >
                                                                  <tbody>
                                                                    <tr>
                                                                      <td
                                                                        align="center"
                                                                        bgcolor="#ffbe00"
                                                                        class="inner-td"
                                                                        style="
                                                                          border-radius: 6px;
                                                                          font-size: 16px;
                                                                          text-align: center;
                                                                          background-color: inherit;
                                                                        "
                                                                      >
                                                                        <a
                                                                          href="<%= link %>"
                                                                          target="_blank"
                                                                          style="
                                                                            background-color: #7366ff;
                                                                            border-radius: 4px;
                                                                            border-width: 1px;
                                                                            color: #ffffff;
                                                                            display: inline-block;
                                                                            font-size: 16px;
                                                                            font-weight: 700;
                                                                            padding: 12px
                                                                              40px
                                                                              12px
                                                                              40px;
                                                                            text-align: center;
                                                                            text-decoration: none;
                                                                            font-family: inherit;
                                                                          "
                                                                        >
                                                                          Reset
                                                                          Password
                                                                        </a>
                                                                      </td>
                                                                    </tr>
                                                                  </tbody>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                        <table
                                                          class="module"
                                                          role="module"
                                                          data-type="spacer"
                                                          border="0"
                                                          cellpadding="0"
                                                          cellspacing="0"
                                                          width="100%"
                                                          style="
                                                            table-layout: fixed;
                                                          "
                                                          data-muid="7770fdab-634a-4f62-a277-1c66b2646d8d.1"
                                                        >
                                                          <tbody>
                                                            <tr>
                                                              <td
                                                                style="
                                                                  padding: 0px
                                                                    0px 50px 0px;
                                                                "
                                                                role="module-content"
                                                                bgcolor="#ffffff"
                                                              ></td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <div
                                          data-role="module-unsubscribe"
                                          class="module"
                                          role="module"
                                          data-type="unsubscribe"
                                          style="
                                            color: #444444;
                                            font-size: 12px;
                                            line-height: 20px;
                                            padding: 16px 16px 16px 16px;
                                            text-align: Center;
                                          "
                                          data-muid="4e838cf3-9892-4a6d-94d6-170e474d21e5"
                                        >
                                          <div class="Unsubscribe--addressLine">
                                            <p
                                              class="Unsubscribe--senderName"
                                              style="
                                                font-size: 12px;
                                                line-height: 20px;
                                                font-weight: 600;
                                              "
                                            >
                                              Food Genie Private Limited
                                            </p>
                                            <p
                                              style="
                                                font-size: 12px;
                                                line-height: 20px;
                                              "
                                            >
                                              <span
                                                class="Unsubscribe--senderAddress"
                                              >
                                                B-605, Times Square 2, Thaltej, </span
                                              >,
                                              <span
                                                class="Unsubscribe--senderCity"
                                              >
                                                Ahmedabad </span
                                              >,
                                              <span
                                                class="Unsubscribe--senderState"
                                              >
                                                Gujarat
                                              </span>
                                              <span
                                                class="Unsubscribe--senderZip"
                                              >
                                                India 382026
                                              </span>
                                            </p>
                                          </div>
                                          <p
                                            style="
                                              font-size: 12px;
                                              line-height: 20px;
                                            "
                                          >
                                            <a
                                              class="Unsubscribe--unsubscribeLink"
                                              href="{{{unsubscribe}}}"
                                              target="_blank"
                                            >
                                              Unsubscribe
                                            </a>
                                            ·
                                            <a
                                              href="{{{unsubscribe_preferences}}}"
                                              target="_blank"
                                              class="Unsubscribe--unsubscribePreferences"
                                            >
                                              Unsubscribe Preferences
                                            </a>
                                          </p>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </center>
  </body>
</html>
